<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="portfolio website index page">
    <meta name="author" content="Yucheng Zhu">
    <title>Yucheng Zhu</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon_io/site.webmanifest">
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../css/font.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Yucheng Zhu</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#papers" onclick="changeColor(this)">Research</a>
                    </li>
                    <li class="">
                       <a class="page-scroll" href="#portfolio" onclick="changeColor(this)">Projects</a>
                    </li>
                    <li>
                        <a href="pet.html" onclick="changeColor(this)">Pet</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#journey" onclick="changeColor(this)">Journey</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#contact" onclick="changeColor(this)">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="cv.pdf" target="_blank" onclick="changeColor(this)" >CV</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <div class="container">
        <div class="row">
            <div class="intro-text">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-left: 15px;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <img class="img-responsive img-centered" src="../assets/images/profile.jpeg" alt="profile">
                <br>
                <br>
                <br>
                <p style="font-size : 16px" class="text-left"> Hi, I am Yucheng, I spent an unforgettable undergraduate
                    time at University College London, studying <a href="https://www.ucl.ac.uk/prospective-students/undergraduate/degrees/psychology-and-language-sciences-bsc" target="_blank"><b>Psychology and Language Sciences</b></a>.
                    I am about to enroll in <a href="https://www.cis.upenn.edu/graduate/program-offerings/master-of-computer-and-information-technology/" target="_blank"><b>Computer and Information Technology</b></a>
                    at the University of Pennsylvania. In the future, I hope to merge the knowledge of these two fields
                    to assist in diagnosing or treating patients with neurological disorders, stimulating the brain potential
                    of normal people, and helping misguided robots get back on track through computational neuroscience,
                    artificial intelligence, and virtual reality.<br><br>
                    My thesis was supervised by Professor Maarten Speekenbrink, and together we explored human decision-making
                    behaviour under different levels of risk and uncertainty in the reward and loss domains through a
                    reinforcement learning approach.<br><br>
                    Outside of school, I enjoy dancing, horseback riding and fencing 💃🐎🤺. On weekends, you can also find me on
                    the streets of the city or in the mountains and rivers of the countryside.<br><br>
                </p>
                <p>
                    I love making friends, so please do not hesitate to contact <a href="mailto:yuchengz@seas.upenn.edu"><b>yuchengz@seas.upenn.edu</b></a> if you find me interesting!
                </p>
            </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Grid Section -->
    <section id="papers">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Upcoming Research</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row text-center">
                <h3> Project Descriptions </h3>
            </div>
            <br><br>
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <p style="font-size : 16px; color : #800020" class="text-left h4">  A Multimodal Assistive Agent for Individuals with Parkinson's Disease Utilising Virtual Environments and Gait Analysis </p>
                    <p class="text-left"> By creating a virtual interactive environment incorporating emulated daily activities,
                        the data of people with PD can be collected and used to train a multimodal model for 3D mapping.
                        The aim is to embed this model in a mobile application, which can provide users with activity support
                        and medication reminders.
                    </p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p style="font-size : 16px; color : #800020" class="text-left h4">   Imagination Boosters: Generalised EEG Signal Patterns Extracted by Applying Diffusion Modelling during Human Video Viewing </p>
                    <p class="text-left"> Rather than trying to define imagination, this project regards various images
                        people associated with watching a video as different types of imagination. Once the imagination-generated images
                        have been identified through diffusion modelling, the neural signals at that time can be trained
                        to predict patterns of neural activity that induce high levels of imagination. Overall, the study
                        aims to develop a wearable device that stimulates imagination by triggering relevant neural activities.<br><br>
                        DreamDiffusion’s performance in distinguishing between highly similar objects (e.g., clouds and marshmallows)
                        will largely affect the accuracy of the experimental judgement of whether imagination has occurred.
                    </p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <p style="font-size : 16px; color : #800020" class="text-left h4">  A Chatbot for Early Diagnosis of Different Types of Dementia </p>
                    <p class="text-left"> Traditional language models typically regard gaps and redundancies in linguistic material
                        as distractions to be disregarded. However, these anomalous words and phrases play a crucial role
                        in diagnosing various types of dementia. The goal of this study is to craft a model for the early diagnosis
                        of dementia by integrating abnormal language features. The envisioned presentation format is a chatbot.
                    </p>
                </div>
            </div>
            <br>

        </div>
    </section>
    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://drive.google.com/file/d/1Ur45XdblArLoljB7kxIR1HiNOfjPoTEd/view?usp=sharing" class="portfolio-link" data-toggle="modal" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-google fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/images/nobel.jpeg" class="img-responsive" alt="nobel" style="border-radius: 0">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Nobel Prize Analysis</h4>
                        <p class="text-muted">Analysing the Nobel Prize with Plotly, Matplotlib & Seaborn</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://drive.google.com/file/d/1gTTmt3f_okHVBAw7-vsqNMXIYS6M936T/view?usp=sharing" class="portfolio-link" data-toggle="modal" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-google fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/images/hospital.png" class="img-responsive" alt="hospital" style="border-radius: 0">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Dr Semmelweis Handwashing Discovery</h4>
                        <p class="text-muted">The Tragic Discovery of Handwashing: t-Tests & Distributions</p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="https://drive.google.com/file/d/1N4dhpwAPATNpAT7O5KV_pVS9vc1Vw1wC/view?usp=sharing" class="portfolio-link" data-toggle="modal" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-google fa-3x"></i>
                            </div>
                        </div>
                        <img src="../assets/images/boston.jpeg" class="img-responsive" alt="boston" style="border-radius: 0">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Predict House Prices</h4>
                        <p class="text-muted">Multivariable Regression and Valuation Model</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Journey Section -->
    <section id="journey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Journey</h2>
                    <h3 class="section-subheading text-muted">No road traveled will be in vain.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <a href="https://en.wikipedia.org/wiki/Hangzhou" target="_blank" alt="">
                                <img class="img-circle img-responsive" src="../assets/images/me1.jpeg" alt="" style="width: 156px; height: 156px; object-fit: cover"></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000 - 2018</h4>
                                    <h4 class="subheading">Before college, Hangzhou</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">When I was a kid, my dream was not too big, but not too small either -
                                        to cut down the demons and get rid of the evils. Thus, storybooks accompanied me
                                        throughout my childhood.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.soas.ac.uk/study/find-course/international-foundation-programme-icc" target="_blank" alt="">
                                <img class="img-circle img-responsive" src="../assets/images/soas.jpeg" style="width: 156px; height: 156px; object-fit: cover"></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018 - 2019</h4>
                                    <h4 class="subheading">International Foundation Programme, SOAS University of London</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Studied Media and Literature here. I felt powerless and sad about
                                    the world of media, but I love Chinua Achebe's Things Fall Apart, and Edgar Allan Poe's
                                    The Fall of the House of Usher. So, my first undergraduate major was Comparative Literature.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.iqvia.com/" target="_blank">
                                <img class="img-circle img-responsive" src="../assets/images/iqvia.png" alt="" style="width: 156px; height: 156px; object-fit: cover"></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2020 - Oct 2020</h4>
                                    <h4 class="subheading">Intern, Management Consulting, IQVIA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After a gap year, I managed to switch my undergraduate major from
                                    Comparative Literature to Psychology and Language Sciences. However, I was still confused
                                    about the future. So, starting with consulting, I gradually explored what I truly love.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.ucl.ac.uk/prospective-students/undergraduate/degrees/psychology-and-language-sciences-bsc" target="_blank">
                                <img class="img-circle img-responsive" src="../assets/images/ucl.png" alt="" style="width: 156px; height: 156px; object-fit: cover"></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020 - 2023</h4>
                                    <h4 class="subheading">Psychology and Language Sciences BSc, University College London</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">It was my three years at UCL that made me fall in love with the city of
                                    London. I will never forget attending Professor Steve Fleming's The Brain in Action class
                                    in the Engineering Building, or rushing back to my apartment from the library late at night
                                    in the rain. I miss every face I met.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.ipsos.com/en-us" target="_blank">
                                <img class="img-circle img-responsive" src="../assets/images/ipsos.png" alt=""></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mar 2021 - May 2021</h4>
                                    <h4 class="subheading">Intern, Strategic Consulting, Ipsos</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The healthcare field seems to be of more interest to me, so I did
                                    another related internship in a row. Unlike the last one, which was about lowering the
                                    price of PD-1 inhibitors into healthcare, this time the project was a study of ergonomic
                                    office furniture.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.huaxing.com/" target="_blank">
                                <img class="img-circle img-responsive" src="../assets/images/CHINA%20RENAISSANCE.jpg" alt="" style="width: 156px; height: 156px; object-fit: cover"></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2021 - Aug 2021</h4>
                                    <h4 class="subheading">Intern, Healthcare Fund, China Renaissance</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Having a very steep learning curve. My supervisor told me possible
                                    reasons why different pharmaceutical companies make different decisions on key aspects
                                    such as R&D, outsourcing, and distribution. Very meticulous in doing industry research
                                    and investment advice on mRNA.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <a href="https://www.mps-ucl-centre.mpg.de/about-the-centre/research-groups/threat-avoidance-group" target="_blank">
                                <img class="img-circle img-responsive" src="../assets/images/bach.png" alt="" style="width: 156px; height: 156px; object-fit: cover"></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2022 - Mar 2023</h4>
                                    <h4 class="subheading">Research Assistant, Threat Avoidance Group, Max Planck UCL Centre for Computational Psychiatry and Ageing Research</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I spent my entire Christmas break in the lab, so I was fortunate enough
                                    to see the first snow flying in London. I made very precious friends there. If memories
                                    had flavours, they would be hot mochas and custard croissants.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="https://www.alibaba.com/?src=sem_ggl&field=UG&from=sem_ggl&cmpgn=1820390094&adgrp=73254467441&fditm=&tgt=kwd-14739453&locintrst=&locphyscl=1014226&mtchtyp=e&ntwrk=g&device=c&dvcmdl=&creative=416851584127&plcmnt=&plcmntcat=&aceid=&position=&gad_source=1&gclid=CjwKCAiAibeuBhAAEiwAiXBoJFZ9yGJNBlEAtjw4npvGXUOFyHJDnWoGlt4wXpi17nq05tRZ1GXGoxoCrDUQAvD_BwE" target="_blank">
                                <img class="img-circle img-responsive" src="../assets/images/alibaba.png" alt="" style="width: 156px; height: 156px; object-fit: cover"></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Nov 2023 - Apr 2024</h4>
                                    <h4 class="subheading">Intern, UX Design, Alibaba Group</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Learn to plan, think, summarise, and learn that seemingly emotional
                                    research actually requires very rational and rigorous logical support. My supervisor
                                    told me that as long as one can identify and create opportunities, one can learn anywhere.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                        <div class="timeline-image">
                                <a href="https://www.cis.upenn.edu/graduate/program-offerings/master-of-computer-and-information-technology/" target="_blank">
                                <img class="img-circle img-responsive" src="../assets/images/penn.jpeg" alt="" style="width: 156px; height: 156px; object-fit: cover"></a>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2024 - 2027</h4>
                                    <h4 class="subheading">Master of Computer and Information Technology Program, University of Pennsylvania</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Looking forward to...</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Reach out</h2>
                    <h3 class="section-subheading text-muted">Hope you enjoy my story as much as I do.<br><br>
                        <a href="https://www.linkedin.com/in/yucheng-zhu-1608b0106/" target="_blank" style="margin-right: 10px"><i class="fa fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/lavamooncake_816/" target="_blank" style="margin-right: 10px"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/lavamooncake816" target="_blank"><i class="fa fa-twitter"></i></a><br><br>
                        <a href="mailto:yuchengz@seas.upenn.edu">yuchengz@seas.upenn.edu</a><br><br>
                        UPenn MCIT | Philadelphia, PA</h3>
                </div>
            </div>

        </div>
    </section>
    <!-- Bootstrap Core JavaScript -->
    <script src="../js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../js/cbpAnimatedHeader.js"></script>
    <script src="../js/classie.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../js/agency.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="../js/jqBootstrapValidation.js"></script>
    <!-- jQuery -->
    <script src="../js/jquery.js"></script>
    <!-- Font JavaScript -->
    <script src="https://kit.fontawesome.com/3a4c95db52.js" crossorigin="anonymous"></script>
</body>
</html>
